# Week 2 Graded Quiz

In [1]:
import pandas as pd
import edhec_risk_kit as erk
import numpy as np

%load_ext autoreload
%autoreload 2
%matplotlib inline

## Question 1

In [3]:
hfi = erk.get_hfi_returns()

In [17]:
hfi["2000":]["Distressed Securities"].head(10)

date
2000-01    0.0088
2000-02    0.0421
2000-03    0.0103
2000-04   -0.0101
2000-05   -0.0132
2000-06    0.0203
2000-07    0.0064
2000-08    0.0140
2000-09   -0.0019
2000-10   -0.0073
Freq: M, Name: Distressed Securities, dtype: float64

In [19]:
erk.var_gaussian(hfi["2000":]["Distressed Securities"],level=1)*100

3.143017693928047

## Question 2

In [20]:
erk.var_gaussian(hfi["2000":]["Distressed Securities"],level=1,modified=True)*100

4.966909110627918

## Question 3

In [21]:
erk.var_historic(hfi["2000":]["Distressed Securities"],level=1)*100

4.2642

## Question 4

In [47]:
ind = erk.get_ind_returns()

In [46]:
ind["2013":"2017"].head()

,Food,Beer,Smoke,Games,Books,Hshld,Clths,Hlth,Chems,Txtls,...,Telcm,Servs,BusEq,Paper,Trans,Whlsl,Rtail,Meals,Fin,Other
2013-01,0.0554,0.0507,0.0561,0.1313,0.0513,0.0869,0.0256,0.0807,0.0506,0.0922,...,0.0495,0.0663,-0.0118,0.0561,0.0852,0.0646,0.0541,0.0523,0.0632,0.0720
2013-02,0.0384,0.0522,0.0221,0.0000,-0.0654,0.0314,0.0146,0.0135,-0.0095,0.0570,...,0.0221,0.0097,0.0026,0.0463,0.0364,0.0207,0.0061,0.0070,0.0129,0.0443
2013-03,0.0656,0.0531,0.0272,0.0769,0.0778,0.0219,0.0288,0.0651,0.0121,0.0888,...,0.0577,0.0245,0.0319,0.0553,0.0465,0.0325,0.0477,0.0550,0.0453,0.0228
2013-04,0.0284,0.0355,0.0440,0.0451,-0.0029,0.0135,0.0903,0.0259,0.0396,0.0102,...,0.0420,0.0184,-0.0102,-0.0002,-0.0014,0.0017,0.0320,0.0240,0.0157,0.0074
2013-05,-0.0345,-0.0147,-0.0298,0.0218,0.0479,-0.0022,0.0078,0.0163,0.0343,0.0077,...,-0.0171,0.0363,0.0551,0.0221,0.0274,0.0385,0.0239,-0.0030,0.0708,0.0590

In [48]:
l = ["Books","Steel","Oil","Mines"]

In [49]:
er = erk.annualize_rets(ind["2013":"2017"],12)
cov = ind["2013":"2017"].cov()
rf = 0.1

In [50]:
# Answer: 25 % in the equal weighted portfolio, i.e. 1/n

## Question 5 + 6 + 7

In [58]:
msr_w = erk.msr(rf, er[l], cov.loc[l,l]).round(4)
msr_w

array([0., 1., 0., 0.])

## Question 8 + 9 + 10

In [56]:
gmw_w = erk.gmw(cov.loc[l,l]).round(5)
gmw_w

array([0.47702, 0.     , 0.43411, 0.08886])

## Question 11

In [55]:
cov2 = ind["2018"][l].cov()
cov2

          Books     Steel       Oil     Mines
Books  0.002799  0.002098  0.002558  0.001629
Steel  0.002098  0.004027  0.003473  0.001843
Oil    0.002558  0.003473  0.005296  0.001961
Mines  0.001629  0.001843  0.001961  0.002059

In [72]:
vol_msr = erk.portfolio_vol(msr_w,cov2)
vol_msr * (12**0.5)

0.21983988181484185

## Question 12

In [73]:
vol_gmw = erk.portfolio_vol(gmw_w,cov2)
vol_gmw * (12**0.5)

0.18973571859622781