# Week 3 Graded Quiz

In [1]:
import pandas as pd
import edhec_risk_kit as erk
import numpy as np
from numpy.linalg import inv

%load_ext autoreload
%autoreload 2
%matplotlib inline

## Question 1

In [2]:
industries = ['Hlth', 'Fin', 'Whlsl', 'Rtail', 'Food']
ind_rets = erk.get_ind_file('returns',weighting="vw", n_inds=49)["2013":"2018"][industries]

In [3]:
ind_rets

           Hlth     Fin   Whlsl   Rtail    Food
2013-01  0.0966  0.1300  0.0646  0.0541  0.0754
2013-02  0.0078  0.0177  0.0207  0.0061  0.0483
2013-03  0.0591  0.0360  0.0325  0.0477  0.0798
2013-04 -0.0034 -0.0002  0.0017  0.0320  0.0174
2013-05  0.0454  0.0842  0.0385  0.0239 -0.0201
...         ...     ...     ...     ...     ...
2018-08  0.0585  0.0004  0.0366  0.0911  0.0114
2018-09 -0.0045 -0.0340 -0.0148  0.0061 -0.0220
2018-10 -0.0659 -0.0455 -0.0788 -0.1021  0.0095
2018-11  0.0356  0.0006  0.0318  0.0159  0.0029
2018-12 -0.1546 -0.0874 -0.1121 -0.0919 -0.1093

[72 rows x 5 columns]

In [4]:
ind_mcap = erk.get_ind_market_caps(49, weights=True)["2013":"2018"][industries]
#ind_mcap = ind_mcap.div(ind_mcap.sum(axis = 1), axis=0)

In [5]:
# Cap weights
cap_wts = erk.weight_cw(ind_rets, cap_weights=ind_mcap)

print('The highest capweight is:', pd.Series.idxmax(cap_wts))

The highest capweight is: Rtail

## Question 2

In [6]:
cormat = ind_rets.corr()
cormat

           Hlth       Fin     Whlsl     Rtail      Food
Hlth   1.000000  0.524886  0.650900  0.574227  0.371698
Fin    0.524886  1.000000  0.777653  0.595332  0.343016
Whlsl  0.650900  0.777653  1.000000  0.743754  0.541244
Rtail  0.574227  0.595332  0.743754  1.000000  0.575063
Food   0.371698  0.343016  0.541244  0.575063  1.000000

In [7]:
vol = ind_rets.std() * np.sqrt(12)
vol

Hlth     0.162801
Fin      0.167753
Whlsl    0.135644
Rtail    0.141238
Food     0.125401
dtype: float64

In [8]:
sigma = (vol @ vol) * cormat
sigma

           Hlth       Fin     Whlsl     Rtail      Food
Hlth   0.108718  0.057064  0.070764  0.062429  0.040410
Fin    0.057064  0.108718  0.084545  0.064723  0.037292
Whlsl  0.070764  0.084545  0.108718  0.080859  0.058843
Rtail  0.062429  0.064723  0.080859  0.108718  0.062519
Food   0.040410  0.037292  0.058843  0.062519  0.108718

In [9]:
delta = 2.5
imp_ret = erk.implied_returns(delta, sigma, cap_wts)

print('The highest implied return is:', pd.Series.idxmax(imp_ret))

The highest implied return is: Rtail

## Question 3

In [10]:
print('The lowest implied return is:', pd.Series.idxmax(-imp_ret))

The lowest implied return is: Hlth

## Question 4 + 5

In [11]:
# Relative View 1: Hlth will outperform Rtail and Whlsl by 3%
q = pd.Series([0.03])
q

0    0.03
dtype: float64

In [12]:
# The Pick Matrix
p = pd.DataFrame([0] * len(industries), index = industries)
p.T

   Hlth  Fin  Whlsl  Rtail  Food
0     0    0      0      0     0

In [13]:
w_Rtail = cap_wts.loc['Rtail'] / (cap_wts.loc['Rtail'] + cap_wts.loc['Whlsl'])
w_Whlsl = cap_wts.loc['Whlsl'] / (cap_wts.loc['Rtail'] + cap_wts.loc['Whlsl'])

In [14]:
p.loc['Hlth'], p.loc['Rtail'], p.loc['Whlsl'] = 1, -w_Rtail, -w_Whlsl
p = p.T
p.round(2)

   Hlth  Fin  Whlsl  Rtail  Food
0   1.0  0.0  -0.15  -0.85   0.0

## Question 6

In [15]:
def w_msr(sigma, mu, scale=True):
    """
    Optimal (Tangent/Max Sharpe Ratio) Portfolio weights
    by using the Markowitz Optimization Procedure
    Mu is the vector of Excess expected Returns
    Sigma must be an N x N matrix as a DataFrame and Mu a column vector as a Series
    This implements page 188 Equation 5.2.28 of
    "The econometrics of financial markets" Campbell, Lo and Mackinlay.
    """
    w = inv(sigma).dot(mu)
    if scale:
        w = w/sum(w) # fix: this assumes all w is +ve
    return w

In [16]:
tau = 0.05
msr_wts = w_msr(sigma, imp_ret)
bl_mu, bl_sigma = erk.bl(msr_wts, sigma, p, q, tau = tau)

print('The lowest implied return is:', pd.Series.idxmax(-bl_mu))

The lowest implied return is: Food

## Question 7

In [17]:
bl_wts = w_msr(bl_sigma, bl_mu)
bl_msr_wts = pd.DataFrame(bl_wts,index=p.columns,columns=['BL-MSR Weights'])
bl_msr_wts

       BL-MSR Weights
Hlth         0.276885
Fin          0.175362
Whlsl        0.061820
Rtail        0.346756
Food         0.139176

In [18]:
print('The highest weight is:', pd.Series.idxmax(bl_msr_wts))

The highest weight is: Rtail

## Question 8

In [19]:
print('The lowest weight is:', pd.Series.idxmax(-bl_msr_wts))

The lowest weight is: Whlsl

## Question 9
Answer: Q and not P
## Question 10

In [20]:
q2 = pd.Series([0.05])

In [22]:
bl_mu2, bl_sigma2 = erk.bl(msr_wts, sigma, p, q2, tau = tau)

print('The highest implied return is:', pd.Series.idxmax(bl_mu2))

The highest implied return is: Rtail

## Question 11

In [27]:
bl_wts2 = w_msr(bl_sigma2, bl_mu2)
msr_wts2 = pd.DataFrame(bl_wts2,index=p.columns,columns=['BL-MSR Weights'])
msr_wts2

       BL-MSR Weights
Hlth         0.326312
Fin          0.175362
Whlsl        0.054342
Rtail        0.304808
Food         0.139176

In [28]:
print('The highest weight is:', pd.Series.idxmax(msr_wts2))

The highest weight is: Hlth