# Week 2 Graded Quiz

In [1]:
import pandas as pd
import edhec_risk_kit as erk
import numpy as np

%load_ext autoreload
%autoreload 2
%matplotlib inline

## Question 1

In [2]:
ind30_rets = erk.get_ind_returns(weighting="vw", n_inds=30)["1997":]
ind30_mcap = erk.get_ind_market_caps(30, weights=True)["1997":]

In [3]:
ind30_rets.head()

,Food,Beer,Smoke,Games,Books,Hshld,Clths,Hlth,Chems,Txtls,...,Telcm,Servs,BusEq,Paper,Trans,Whlsl,Rtail,Meals,Fin,Other
1997-01,0.0289,0.1136,0.0463,0.0359,0.0075,0.0643,0.0644,0.0955,0.0378,0.0550,...,0.0234,0.0576,0.1027,0.0121,0.0240,0.0018,0.0034,0.0161,0.0659,0.0704
1997-02,0.0279,0.0274,0.1247,-0.0026,0.0239,0.0287,0.0312,0.0094,0.0110,0.0221,...,0.0228,-0.0510,-0.0805,0.0480,-0.0106,-0.0089,0.0563,-0.0315,0.0393,-0.0453
1997-03,-0.0120,-0.0653,-0.1354,-0.0320,0.0071,-0.0606,-0.0566,-0.0740,-0.0216,-0.0284,...,-0.0760,-0.0567,-0.0522,-0.0446,-0.0018,-0.0657,-0.0055,0.0165,-0.0663,-0.0430
1997-04,0.0337,0.1137,0.0324,0.0275,-0.0076,0.0845,-0.0410,0.0616,0.0324,-0.0334,...,0.0254,0.1047,0.0602,0.0366,0.0565,0.0054,0.0172,0.0611,0.0623,0.0097
1997-05,0.0257,0.0643,0.0998,0.0560,0.0706,0.0815,0.0501,0.0691,0.0455,0.0725,...,0.0664,0.1001,0.1020,0.0768,0.0612,0.0875,0.0643,0.0098,0.0588,0.0816

In [4]:
cwr = erk.backtest_ws(ind30_rets, estimation_window=36, weighting=erk.weight_cw, cap_weights=ind30_mcap)
cwr = cwr.dropna()
cwr

2000-01   -0.033640
2000-02   -0.016408
2000-03    0.086065
2000-04   -0.016755
2000-05    0.000671
             ...
2018-08    0.034929
2018-09    0.003134
2018-10   -0.069573
2018-11    0.020852
2018-12   -0.093852
Freq: M, Length: 228, dtype: float64

In [5]:
round((erk.annualize_rets(cwr, periods_per_year=12))*100,2)

6.46

## Question 2

In [6]:
round((erk.annualize_vol(cwr, periods_per_year=12))*100,2)

15.13

## Question 3

In [7]:
ewr = erk.backtest_ws(ind30_rets, estimation_window=36)
ewr = ewr.dropna()
ewr

2000-01   -0.031137
2000-02   -0.036047
2000-03    0.078613
2000-04   -0.002040
2000-05   -0.007117
             ...
2018-08    0.009337
2018-09   -0.001257
2018-10   -0.074427
2018-11    0.018667
2018-12   -0.096270
Freq: M, Length: 228, dtype: float64

In [8]:
round((erk.annualize_rets(ewr, periods_per_year=12))*100,2)

7.76

## Question 4

In [9]:
round((erk.annualize_vol(ewr, periods_per_year=12))*100,2)

15.87

## Question 5

In [16]:
ewtr = erk.backtest_ws(ind30_rets,
                       estimation_window=36,
                       cap_weights=ind30_mcap,
                       max_cw_mult=2,
                       microcap_threshold=0.01)
ewtr = ewtr.dropna()
ewtr

2000-01   -0.042504
2000-02   -0.035002
2000-03    0.079845
2000-04   -0.000779
2000-05    0.001206
             ...
2018-08    0.023520
2018-09    0.006912
2018-10   -0.060794
2018-11    0.025801
2018-12   -0.093837
Freq: M, Length: 228, dtype: float64

In [17]:
round((erk.annualize_rets(ewtr, periods_per_year=12))*100,2)

7.68

## Question 6

In [18]:
round((erk.annualize_vol(ewtr, periods_per_year=12))*100,2)

14.08

## Question 7

In [19]:
round(erk.tracking_error(ewr, cwr)*100,2)

18.74

## Question 8

In [20]:
round(erk.tracking_error(cwr, ewtr)*100,2)

11.65

## Question 9

In [21]:
mv_s_r = erk.backtest_ws(ind30_rets,
                         estimation_window=36,
                         weighting=erk.weight_gmv,
                         cov_estimator=erk.sample_cov)

In [23]:
mv_s_r = mv_s_r.dropna()
mv_s_r

2000-01    0.018326
2000-02   -0.063992
2000-03    0.080058
2000-04    0.044278
2000-05    0.002025
             ...
2018-08    0.019411
2018-09    0.005252
2018-10   -0.028008
2018-11    0.027373
2018-12   -0.078997
Freq: M, Length: 228, dtype: float64

In [24]:
round((erk.annualize_rets(mv_s_r, periods_per_year=12))*100,2)

6.63

## Question 10

In [25]:
round((erk.annualize_vol(mv_s_r, periods_per_year=12))*100,2)

11.74

## Question 11

In [29]:
mv_sh_r = erk.backtest_ws(ind30_rets,
                          estimation_window=36,
                          weighting=erk.weight_gmv,
                          cov_estimator=erk.shrinkage_cov,
                          delta=0.25)

In [30]:
mv_sh_r = mv_sh_r.dropna()
mv_sh_r

2000-01    0.012165
2000-02   -0.068561
2000-03    0.084092
2000-04    0.041680
2000-05    0.005120
             ...
2018-08    0.023323
2018-09    0.005678
2018-10   -0.025249
2018-11    0.042752
2018-12   -0.075711
Freq: M, Length: 228, dtype: float64

In [31]:
round((erk.annualize_rets(mv_sh_r, periods_per_year=12))*100,2)

6.85

## Question 12

In [32]:
round((erk.annualize_vol(mv_sh_r, periods_per_year=12))*100,2)

11.46