# Week 1 Graded Quiz

In [1]:
import pandas as pd
import edhec_risk_kit as erk
import numpy as np

%load_ext autoreload
%autoreload 2
%matplotlib inline

## Question 1 + 3:

In [2]:
returns = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv",
                     header=0,index_col=0,parse_dates=True,na_values=-99.99)
returns.index = pd.to_datetime(returns.index, format="%Y%m").to_period("M")
returns.index
returns.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
1926-07,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
1926-08,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
1926-09,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
1926-10,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
1926-11,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [3]:
columns = ['Lo 20','Hi 20']
returns = returns[columns]
returns = returns/100
returns.head()

          Lo 20   Hi 20
1926-07 -0.0057  0.0333
1926-08  0.0384  0.0233
1926-09 -0.0048 -0.0009
1926-10 -0.0329 -0.0295
1926-11 -0.0055  0.0316

In [4]:
n_months = len(returns)
return_per_month = (returns+1).prod()**(1/n_months) - 1
ann_return = (return_per_month+1)**12-1
ann_return.round(4)

Lo 20    0.1520
Hi 20    0.0985
dtype: float64

## Question 2 + 4:

In [5]:
ann_vol=returns.std()*np.sqrt(12)
ann_vol.round(4)

Lo 20    0.3367
Hi 20    0.1951
dtype: float64

## Question 5 + 7:

In [13]:
returns["1999":"2015"].tail()

          Lo 20   Hi 20
2015-08 -0.0347 -0.0559
2015-09 -0.0610 -0.0333
2015-10  0.0385  0.0710
2015-11  0.0165  0.0015
2015-12 -0.0500 -0.0229

In [29]:
n_months = len(returns["1999":"2015"])
return_per_month = (returns["1999":"2015"]+1).prod()**(1/n_months) - 1
ann_return = (return_per_month+1)**12-1
ann_return.round(4)

Lo 20    0.1144
Hi 20    0.0629
dtype: float64

## Question 6 + 8:

In [15]:
ann_vol=returns["1999":"2015"].std()*np.sqrt(12)
ann_vol.round(4)

Lo 20    0.2289
Hi 20    0.1727
dtype: float64

## Question 9 + 10:

In [16]:
erk.drawdown(returns["1998":"2015"]["Lo 20"])["Drawdown"].min()

-0.6248092431236987

In [17]:
erk.drawdown(returns["1998":"2015"]["Lo 20"])["Drawdown"].idxmin()

Period('2009-02', 'M')

## Question 11 + 12:

In [18]:
erk.drawdown(returns["1998":"2015"]["Hi 20"])["Drawdown"].min()

-0.5527349978713649

In [19]:
erk.drawdown(returns["1998":"2015"]["Hi 20"])["Drawdown"].idxmin()

Period('2009-02', 'M')

## Question 13:

In [20]:
hfi = erk.get_hfi_returns()

In [21]:
hfi["2009":].head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312

In [25]:
hfi["2009":"2018"].aggregate(erk.semideviation).sort_values()

Fixed Income Arbitrage    0.003321
Merger Arbitrage          0.003611
Global Macro              0.005075
Equity Market Neutral     0.005186
Relative Value            0.005711
Convertible Arbitrage     0.006681
Funds Of Funds            0.007948
Distressed Securities     0.009498
Event Driven              0.010135
CTA Global                0.010996
Long/Short Equity         0.012139
Emerging Markets          0.015276
Short Selling             0.021240
dtype: float64

## Question 14:

In [26]:
hfi["2009":].aggregate(erk.semideviation).sort_values()

Fixed Income Arbitrage    0.003321
Merger Arbitrage          0.003611
Global Macro              0.005075
Equity Market Neutral     0.005186
Relative Value            0.005711
Convertible Arbitrage     0.006681
Funds Of Funds            0.007948
Distressed Securities     0.009498
Event Driven              0.010135
CTA Global                0.010996
Long/Short Equity         0.012139
Emerging Markets          0.015276
Short Selling             0.021240
dtype: float64

## Question 15:

In [27]:
hfi["2009":].aggregate(erk.skewness).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

## Question 16:

In [28]:
hfi["2000":"2018"].aggregate(erk.kurtosis).sort_values()

CTA Global                 2.845022
Global Macro               3.653278
Short Selling              4.352758
Long/Short Equity          4.472589
Merger Arbitrage           4.520785
Event Driven               5.543444
Emerging Markets           5.941289
Distressed Securities      6.231720
Funds Of Funds             7.584725
Relative Value            12.731096
Equity Market Neutral     20.329621
Convertible Arbitrage     23.001449
Fixed Income Arbitrage    33.378729
dtype: float64