# Week 3 Graded Quiz

In [2]:
import pandas as pd
import edhec_risk_kit as erk
import numpy as np
from numpy.linalg import inv

%load_ext autoreload
%autoreload 2
%matplotlib inline

## Question 1

In [6]:
ind_rets = erk.get_ind_file('returns',weighting="vw", n_inds=49)["2014":"2018"]
ind_mcap = erk.get_ind_market_caps(49, weights=True)["2014":"2018"]

In [5]:
ind_rets.head(3)

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
2014-01,-0.0801,-0.0346,-0.0759,-0.0054,-0.0833,-0.0856,0.0078,-0.0644,-0.0620,-0.0758,...,-0.0358,-0.0199,-0.0235,-0.0759,-0.0477,-0.0350,-0.0530,-0.0235,-0.0556,-0.0662
2014-02,0.0300,0.0495,0.0192,0.0162,0.0335,0.0339,0.0919,0.0825,0.0345,0.0553,...,0.0788,0.0211,0.0450,0.0579,0.0484,0.0301,0.0381,0.0473,0.0301,0.0266
2014-03,0.0373,0.0319,0.0165,0.0478,0.0407,0.0448,-0.0706,-0.0010,0.0175,-0.0040,...,-0.0124,0.0268,0.0041,-0.0121,0.0173,0.0298,0.0217,-0.0263,0.0099,0.0561

In [8]:
covmat = ind_rets.cov()
covmat.head(5)

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Agric,0.002551,0.000638,0.000411,0.000272,0.000481,0.001433,0.001257,0.001054,0.000311,0.000349,...,0.001230,0.000940,0.001066,0.000956,0.000579,0.001311,0.000956,0.001158,0.001256,0.000663
Food,0.000638,0.001239,0.000865,0.000871,0.001154,0.000745,0.000477,0.000890,0.000771,0.000592,...,0.000724,0.000597,0.000713,0.000822,0.000513,0.000513,0.000654,0.000806,0.000441,0.000650
Soda,0.000411,0.000865,0.001541,0.001027,0.001249,0.000651,0.000557,0.000754,0.000815,0.000618,...,0.000888,0.000757,0.000620,0.000869,0.000758,0.000507,0.000698,0.000918,0.000470,0.000838
Beer,0.000272,0.000871,0.001027,0.001158,0.001199,0.000489,0.000366,0.000749,0.000807,0.000448,...,0.000794,0.000699,0.000550,0.000642,0.000556,0.000390,0.000529,0.000946,0.000333,0.000603
Smoke,0.000481,0.001154,0.001249,0.001199,0.002936,0.000969,0.000179,0.000525,0.000913,0.000329,...,0.000549,0.000670,0.000414,0.000413,0.000533,0.000312,0.000389,0.000428,0.000256,0.000764

In [31]:
risk_contribution_cw = erk.risk_contribution(erk.weight_cw(ind_rets,ind_mcap), covmat)

In [32]:
print('The highest risk contribution is:', pd.Series.idxmax(risk_contribution_cw))

The highest risk contribution is: Banks

## Question 2

In [33]:
risk_contribution_cw['Banks']

0.10406010634326318

In [34]:
round(max(risk_contribution_cw)*100,2)

10.41

## Question 3 + 4

In [35]:
risk_contribution_ew = erk.risk_contribution(erk.weight_ew(ind_rets), covmat)

In [36]:
print('The highest risk contribution is:', pd.Series.idxmax(risk_contribution_ew))

The highest risk contribution is: Steel

In [37]:
round(max(risk_contribution_ew)*100,2)

3.09

## Question 5 + 6

In [51]:
erc_w = pd.DataFrame(erk.weight_erc(ind_rets),
                     index=ind_rets.columns)

In [85]:
print('The highest weight of {0:.2f}% is assigned to: {1}'.format(max(erc_w[0])*100, pd.Series.idxmax(erc_w)))

The highest weight of 5.22% is assigned to: Util

## Question 7 + 8

In [91]:
print('The lowest weight of {0:.2f}% is assigned to: {1}'.format(min(erc_w[0])*100, pd.Series.idxmax(-erc_w)))

The lowest weight of 1.28% is assigned to: Steel

## Question 9

In [97]:
round((max(risk_contribution_cw)-min(risk_contribution_cw))*100,2)

10.4

## Question 10

In [100]:
round((max(risk_contribution_ew)-min(risk_contribution_ew))*100,2)

2.5